mixin Header()
	header.header.body-hidden-elem
		.container.container--max
			.header__row.section-row
				.header__logo-wrap.section-col
					a.header__logo(href='/')
						img.header__logo-img(src='img/icons/logo.svg' alt='Логотип')

				.header__main.section-col
					+Navbar({
						className: 'header__navbar'
					})

					.header__language-wrap
						span.header__language In English

				.header__btn-menu-open-wrap.section-col
					+BtnBurger('header__btn-burger')