include ../../blocks/components/FieldText/FieldText
include ../../blocks/components/BtnBurger/BtnBurger
include ../../blocks/components/Btn/Btn
include ../../blocks/components/Preloader/Preloader
include ../../blocks/components/Navbar/Navbar
include ../../blocks/components/Modal/Modal
include ../../blocks/components/MainForm/MainForm

include ../../blocks/modules/Header/Header
include ../../blocks/modules/MainScreen/MainScreen
include ../../blocks/modules/AboutCompany/AboutCompany
include ../../blocks/modules/MobileMenu/MobileMenu
include ../../blocks/modules/Footer/Footer