mixin Footer()
	footer.footer
		.footer__contacts
			.container
				h2.footer__contacts-title.section-title CAFE
				.footer__contacts-row.section-row

					.footer__contacts-col.footer__adress-wrap.section-col
						.footer__contacts-adress
							a.footer__link.footer__link--under(href='#').
								Невский проспект, 1 #[br]
								Санкт-Петербург

					.footer__contacts-col.section-col
						.footer__contacts-col-title Ежедневно
						.footer__contacts-data.
							Кафе: 12:00—23:00 #[br]
							Доставка: 11:00—22:00

					.footer__contacts-col.section-col
						.footer__contacts-col-title Бронирование стола
						.footer__contacts-data
							a.footer__link.footer__link--under(href='tel: +7 (962) 710-70-00') +7 (962) 710-70-00
							
					.footer__contacts-col.section-col
						.footer__contacts-col-title Бронирование стола
						.footer__contacts-data
							a.footer__link.footer__link--under.footer__link--icon.footer__link--inst(href='#') Cafe #[br]
							a.footer__link.footer__link--under.footer__link--icon.footer__link--inst(href='#') Основатель

		.footer__bottom
			.container
				.footer__company CAFE&nbsp;&nbsp;•&nbsp;&nbsp;© 2020
			