.navbar {
	&__list {
		display: flex;
	}

	&__item {
	}

	&__link {
		color: inherit;
		display: inline-flex;
		align-items: center;
		vertical-align: bottom;
		font-weight: 700;
	}

	&__link-icon {
		position: relative;
		display: inline-block;
		width: 36px;
		height: 36px;
		background-color: rgba(#fff, .1);
		border-radius: 50%;
		margin-right: 7px;

		&--purple {
			background-color: rgba(#ec619f, 0.05);
		}

		&--orange {
			background-color: rgba(#f39200, 0.05);
		}

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: inline-block;
			vertical-align: bottom;
		}
	}
}

@include min(992px) {
	.navbar {
		
	}
}